body{
margin:0;
font-family:Arial;
background:#f4f4f4;
}
header{
background:#6c63ff;
color:white;
text-align:center;
padding:80px;
}
button{
background:white;
color:#6c63ff;
padding:10px 20px;
border:none;
}
section{
background:white;
margin:20px;
padding:30px;
}
ul{
list-style:none;
}
li{
background:#6c63ff;
color:white;
display:inline-block;
padding:10px;
margin:5px;
}
footer{
background:black;
color:white;
text-align:center;
padding:15px;
}